# Ignores for Cloud9, osx, eclipse, netbeans, and maven.
.c9/
.gradle
.nb-gradle
.settings
.classpath
.project
.DS*
build
build/
data/
private
private/
SpringMVCB2.sublime-workspace 
SpringMVCB2.sublime-project
target
WebContent/
